/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/styles/normalize.css ***!
  \********************************************************************************************************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

input,
button {
	outline: none;
	border: none;
}

/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/styles/variables.css ***!
  \********************************************************************************************************/
:root {
	--global-orange: #ff9514;
	--global-black: #111111;
	--global-grey: #575757;
	--global-grey-light: #f3f3f4;
	--global-white: #ffffff;
}

/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/styles/fonts.css ***!
  \****************************************************************************************************/
@font-face {
	font-family: 'Nekst';
	font-weight: 900;
	font-style: normal;
	src: local('Nekst'), local('Nekst-Black'), url(./static/media/Nekst-Black.f0e2921efcf1112b1749.woff) format('woff');
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 700;
	font-style: normal;
	src: local('Gilroy'), local('Gilroy-Bold'), url(./static/media/Gilroy-Bold.0607a1bc636f63251ed8.woff) format('woff');
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 400;
	font-style: normal;
	src: local('Gilroy'), local('Gilroy-Regular'),
		url(./static/media/Gilroy-Regular.ebe86c0337572553acea.woff) format('woff');
}

/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/styles/index.css ***!
  \****************************************************************************************************/
body {
	color: var(--global-grey);
	font-family: 'Gilory', sans-serif;
}

