.inputWithRange {
	position: relative;
}

.inputWithRange:focus-within .input {
	--input-background-color: transparent;
	--input-border-color: var(--global-grey-light);
}

.range {
	position: absolute;
	bottom: 0;

	width: calc(100% - 24px * 2);

	margin-left: 24px;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(calc(50% - 1px));
}

.inputWithRange:focus-within .range,
.inputWithRange:hover .range {
	--range-track-height: 1px;
}
